.g-hui-loading-overlay
    position fixed
    width 100vw
    height 100vh
    top 0
    left 0
    z-index 5000
    background rgba(0, 0, 0, 0.3)
    div
        font-size 60px
        position relative
        left 50%
        top 50%
        transform translate(-50%, -50%)
        text-align center
